/*Start header-home section*/
.header-home{
    background-image: url(../img/download.jpg);
    height: 700px;
    background-size: cover;
}
.header-home h2{
    background-color: #4b9a81ba;
    color: #fff;
    height: 400px;
    width: 92%;
    border-radius: 25px;
    font-size: 45px;
    line-height: 1.5;
    padding: 30px 40px;
    font-family: monospace;
    margin-top: 32%;
}
@media only screen and (max-width: 576px){
    .header-home h2{
        font-size: 35px;
        margin-left: 11px;
    }
}
/*End header-home section*/
/*Start clinic section*/
.clinic{
    margin-top: 50px;
}
.clinic h2{
    color: #134d4c;
    text-align: center;
    font-family: cursive;
}
.clinic hr{
    height: 5px;
    background-color: #e98317;
    border: none;
    width: 14%;
}
.col-lg-6 img{
    width: 450px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 15%;
}
.clinic-content{
    margin-top: 62px;
}
.clinic-content h3{
    color: #47a0ad;
    font-family: cursive;
}
.clinic-content p{
    font-family: cursive;
    font-size: 18px;
    line-height: 1.4;
    display: block;
    margin-top: 10px;
}
@media only screen and (max-width: 768px){
    .col-lg-6 img{
        width: 322px;
    }
    .clinic hr{
        width: 35%;
    }
}
/*End clinic section*/
/*Start hestegate section*/
.hestegate{
    background-image: url(../img/Path\ 62.png), url(../img/i-love-my-job-so-much_329181-2178.png);
    height: 750px;
    background-size: cover;
}
.hestegate h2{
    color:#fff;
    margin-top: 8%;
    text-align: center;
    font-family: cursive;
    margin-bottom: 7%;
}
.hestegate-content{
    background-color: #fff;
    height: 425px;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
}
.hestegate-content img{
    width: 185px;
    height: 170px;
}
.hestegate-content h5{
    color: #449ea7;
    font-size: 19px;
    margin-top: 10px;
}
@media only screen and (max-width: 992px){
    .hestegate{
        height: 1600px;
    }
    .hestegate h2{
        font-size: 20px;
        margin-top: 25%;
    }
    .hestegate-content{
        height: 300px;
        margin-top: 7px;
        padding: 10px;
    }
    .hestegate-content img{
        width: 150px;
        height: 150px;
    }
    .hestegate-content h5{
        font-size: 17px;
    }
    .hestegate-content p{
        font-size: 15px;
    }
}
/*End hestegate section*/
/*Start dentesr section*/
.dentesr img{
    width: 200px;
    margin-top: 50px;
    margin-bottom: 70px;
}
@media only screen and (max-width: 992px){
    .dentesr img{
        width: 170px;
    }
}
/*End dentesr section*/
/*Start footer-home section*/
.footer-home{
    background-color: #0f7b65db;
    border-radius: 150px 150px 0px 0px;
}
.footer-home h2{
    color: #fff;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-home p{
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 1.7;
}
.footer-home h4{
    color: #f48e7b;
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 25px;
}
.footer-tages a{
    display: block;
    margin-left: 25px;
    margin-top: 10px;
    color: #fff;
    font-size: 17px;
}
.footer-home h6{
    color: #fff;
    margin-bottom: 40px;
    text-align: left;
}
@media only screen and (max-width: 992){
    .footer-home{
        border-radius: 95px 95px 0px 0px;
    }
}
/*End footer-home*/